.app__footer{
  border-top: 2px solid var(--dark);
  background-color: var(--white);
  color: var(--dark);
  line-height: .8rem;
  width: var(--container-width);
  > .app__footer-top{
    padding-top: 15px;
  }
  @media screen and (max-width: 768px) {
    line-height: 1rem;
  }
}

.app__footer-name{
  text-decoration: none;
  color: var(--dark-pink);
}