@import "~bootstrap/scss/bootstrap";

// General Styling

.app__flexCenter, .app__flexColumn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__flexColumn{
  flex-direction: column;
}

// Text Styling

.app__normal-text{
  font-family: 'Poppins', sans-serif;
}

.app__header-text{
  
  font-family: 'Amatic SC', cursive;
  // font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: calc(1rem + 3vmin);
}

// Button Styling

.app__button{
  background-color: var(--button-color);
  color: black;
  border-color: black;
  &:hover{
    background-color: var(--pink);
    border-color: black;
    color: black;
  }
}








// COOKIE STYLING & ANIMATION

.app__logo {
  height: 40vmin;
  margin: 10px 0;
  &:hover{
    cursor: pointer;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    animation: app__logo-spin infinite 5s linear;
  }
}

@keyframes app__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
