body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
  --link-color: #61dafb;
  --button-color: #61dafb;
  --pink: rgb(252, 214, 225);
  --dark-pink: #FF1493;
  --white: #FFFAF0;
  --dark: #301934;

  background-color: var(--white) !important;

  @media screen and (max-width: 768px) {
    font-size: calc(8px + 1vmin);
  }
}

.dark{
  background-color: var(--dark) !important;
  color: white;
}

#root{
  font-size: calc(10px + 1vmin);
  min-height: 100vh;
}

*{
  box-sizing: border-box;
  margin: 0;
}
