body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
  --link-color: #61dafb;
  --button-color: #61dafb;
  --pink: #fcd6e1;
  --dark-pink: #ff1492;
  --white: #FFFAF0;
  --white2: #fefcfe;
  --white3: #FFFAFA;
  --dark: #301934;
  --dark2: #702963;
  --dark3: #9F2B68;

  background-color: var(--white) !important;

  @media screen and (max-width: 768px) {
    font-size: calc(8px + 1vmin);
  }
}

body.dark{
  background-color: var(--dark) !important;
  color: var(--white);

  #aside-container{
    background-color: var(--dark2);
  }

  .aside-header{
    border-bottom: 2px solid var(--white);
  }

  .app__footer{
    border-top: 2px solid var(--white);
    background-color: var(--dark);
    color: var(--white);
  }

  .tasks-label{
    color: var(--dark);
    border: 2px solid var(--dark);
    background-color: var(--button-color);
    &:hover{
      cursor: pointer;
      border: 2px solid var(--white3);
      background-color: var(--white3);
      color: var(--dark);
    }
  }

  .tasks-button, .aside-button{
    background-color: var(--dark);
    color: var(--white);
    &:hover{
      border: 2px solid var(--white3);
      background-color: var(--white3);
      color: var(--dark-pink);
    }
  }

  .aside-button{
    background-color: var(--dark2);
  }

}

#root{
  font-size: calc(10px + 1vmin);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
