.header-container{
  justify-content: space-between;
  border-bottom: 2px solid var(--dark-pink);
}

.header-header{
  color: var(--dark-pink);
}

.header-logo-container{
  gap: 10px;
}

.header-image{
  height: 4rem;
}

.header-image-btn{
  // background-color: var(--white);
  &:hover{
    cursor: pointer;
  }
}