#aside-container{
  width: 30%;
  background-color: var(--white2);
  min-height: 80vh;
  justify-content: flex-start;
}

.aside-tasks, .aside-projects{
  width: 100%;
}

.aside-header{
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--dark);
  font-size: 2.5rem;
}

.aside-tasks-categories, .aside-projects-categories{
  list-style-type: none;
  padding: 0px;
}

.aside-label-top, .aside-label-bottom{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  font-size: 1.5rem;
  &:hover{
    cursor: pointer;
    background-color: var(--dark-pink);
  }
  img{
    height: 1.5rem;
    margin-right: .5rem;
  }
}

.aside-label-bottom{
  justify-content: space-between;
}

.aside-label-right{
  >img {
    transition: all .2s ease-in-out;
    &:hover{
      height: 1.7rem;
    }
  }
}

.aside-button{
  padding: .5rem;
  border-radius: .5rem;
  background-color: var(--white2);
  border: 2px solid transparent;
  &:hover{
    border: 2px solid var(--dark);
    background-color: var(--white3);
    color: var(--dark-pink);
  }
  img{
    transition: all .2s ease-in-out;
    height: 1.5rem;
    &:hover{
      height: 1.7rem;
    }
  }
}

